<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Image url</td>
            <td>Created at</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.imageUrl }}</td>
            <td>{{ employee.createdAt | date }}</td>
            <td>
                <a [routerLink]="['/employee-detail', employee.id]">Show detail</a>
            </td>
        </tr>
    </tbody>
</table>